##Black-Friday-Dataset
This dataset comprises of sales transactions captured at a retail store. Itâ€™s a classic dataset to explore and expand your feature engineering skills and day to day understanding from multiple shopping experiences.

Problem: Predict purchase amount.

In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)
import warnings

In [ ]:
pd.get_option("display.max_rows")

60

In [ ]:
pd.get_option("display.max_column")

20

In [ ]:
pd.set_option("display.max_rows",80)

In [ ]:
pd.set_option("display.max_column",40)

In [ ]:
pd.reset_option("display.max_rows")
pd.reset_option("display.max_column")

In [ ]:
df = pd.read_csv("/content/test.csv")
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape

(233599, 11)

In [ ]:
df.ndim

2

In [ ]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [ ]:
df.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
5,1000013,P00350442,M,46-50,1,C,3,1,2,3.0,15.0
6,1000013,P00155442,M,46-50,1,C,3,1,1,11.0,15.0
7,1000013,P0094542,M,46-50,1,C,3,1,2,4.0,9.0
8,1000015,P00161842,M,26-35,7,A,1,0,10,13.0,16.0
9,1000022,P00067942,M,18-25,15,A,4+,0,5,14.0,NaN

In [ ]:
df.tail()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
233594,1006036,P00118942,F,26-35,15,B,4+,1,8,NaN,NaN
233595,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,NaN
233596,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,NaN
233598,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,NaN

In [ ]:
df.tail(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
233589,1006030,P00241442,M,26-35,17,C,1,1,2,15.0,NaN
233590,1006032,P00252442,M,46-50,7,A,3,0,8,NaN,NaN
233591,1006033,P00127642,M,51-55,13,B,1,1,1,2.0,15.0
233592,1006035,P00135742,F,26-35,1,C,3,0,6,8.0,NaN
233593,1006036,P00255442,F,26-35,15,B,4+,1,8,NaN,NaN
233594,1006036,P00118942,F,26-35,15,B,4+,1,8,NaN,NaN
233595,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,NaN
233596,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,NaN
233598,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,NaN

In [ ]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
233594    False
233595    False
233596    False
233597    False
233598    False
Length: 233599, dtype: bool

In [ ]:
sum(df.duplicated())

0

In [ ]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3'],
      dtype='object')

In [ ]:
df_prdct=df[['Product_ID','Product_Category_1']]

In [ ]:
df_prdct

       Product_ID  Product_Category_1
0       P00128942                   1
1       P00113442                   3
2       P00288442                   5
3       P00145342                   4
4       P00053842                   4
...           ...                 ...
233594  P00118942                   8
233595  P00254642                   5
233596  P00031842                   1
233597  P00124742                  10
233598  P00316642                   4

[233599 rows x 2 columns]

In [ ]:
df.axes

[RangeIndex(start=0, stop=233599, step=1),
 Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
        'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
        'Product_Category_2', 'Product_Category_3'],
       dtype='object')]

In [ ]:
df.Gender.values
df.Gender.values

array(['M', 'M', 'F', ..., 'F', 'F', 'F'], dtype=object)

In [ ]:
df.size
df.size

2569589

In [ ]:
df.Gender.size
df.Gender.size

233599

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     233599 non-null  int64
 1   Product_ID                  233599 non-null  object
 2   Gender                      233599 non-null  object
 3   Age                         233599 non-null  object
 4   Occupation                  233599 non-null  int64
 5   City_Category               233599 non-null  object
 6   Stay_In_Current_City_Years  233599 non-null  object
 7   Marital_Status              233599 non-null  int64
 8   Product_Category_1          233599 non-null  int64
 9   Product_Category_2          161255 non-null  float64
 10  Product_Category_3          71037 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 19.6+ MB

In [ ]:
df.dtypes
df.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
dtype: object

In [ ]:
df["Occupation"]=df["Occupation"].astype("Float64")
df["Occupation"]=df["Occupation"].astype("Float64")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     233599 non-null  int64
 1   Product_ID                  233599 non-null  object
 2   Gender                      233599 non-null  object
 3   Age                         233599 non-null  object
 4   Occupation                  233599 non-null  Float64
 5   City_Category               233599 non-null  object
 6   Stay_In_Current_City_Years  233599 non-null  object
 7   Marital_Status              233599 non-null  int64
 8   Product_Category_1          233599 non-null  int64
 9   Product_Category_2          161255 non-null  float64
 10  Product_Category_3          71037 non-null   float64
dtypes: Float64(1), float64(2), int64(3), object(5)
memory usage: 19.8+ MB

In [ ]:
df.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
count,2.335990e+05,233599.000000,233599.000000,233599.000000,161255.000000,71037.000000
mean,1.003029e+06,8.085407,0.410070,5.276542,9.849586,12.669454
std,1.726505e+03,6.521146,0.491847,3.736380,5.094943,4.125944
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000
25%,1.001527e+06,2.000000,0.000000,1.000000,5.000000,9.000000
50%,1.003070e+06,7.000000,0.000000,5.000000,9.000000,14.000000
75%,1.004477e+06,14.000000,1.000000,8.000000,15.000000,16.000000
max,1.006040e+06,20.000000,1.000000,18.000000,18.000000,18.000000

In [ ]:
df.describe(include=["object"])
df.describe(include=["object"])

       Product_ID  Gender     Age City_Category Stay_In_Current_City_Years
count      233599  233599  233599        233599                     233599
unique       3491       2       7             3                          5
top     P00265242       M   26-35             B                          1
freq          829  175772   93428         98566                      82604

In [ ]:
df["Product_ID"].value_counts()
df["Product_ID"].value_counts()

P00265242    829
P00112142    717
P00025442    695
P00110742    680
P00046742    646
            ...
P00275042      1
P00181042      1
P00100242      1
P00008942      1
P00325442      1
Name: Product_ID, Length: 3491, dtype: int64

In [ ]:
df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [ ]:
df.Product_Category_2

0         11.0
1          5.0
2         14.0
3          9.0
4          5.0
          ...
233594     NaN
233595     8.0
233596     5.0
233597    16.0
233598     5.0
Name: Product_Category_2, Length: 233599, dtype: float64

In [ ]:
df.Product_Category_3

0          NaN
1          NaN
2          NaN
3          NaN
4         12.0
          ...
233594     NaN
233595     NaN
233596    12.0
233597     NaN
233598     NaN
Name: Product_Category_3, Length: 233599, dtype: float64

In [ ]:
df_temp=df.drop('Product_Category_3',axis=1,inplace=False)

In [ ]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     233599 non-null  int64
 1   Product_ID                  233599 non-null  object
 2   Gender                      233599 non-null  object
 3   Age                         233599 non-null  object
 4   Occupation                  233599 non-null  Float64
 5   City_Category               233599 non-null  object
 6   Stay_In_Current_City_Years  233599 non-null  object
 7   Marital_Status              233599 non-null  int64
 8   Product_Category_1          233599 non-null  int64
 9   Product_Category_2          161255 non-null  float64
dtypes: Float64(1), float64(1), int64(3), object(5)
memory usage: 18.0+ MB

In [ ]:
df_temp.isnull().sum()

User_ID                           0
Product_ID                        0
Gender                            0
Age                               0
Occupation                        0
City_Category                     0
Stay_In_Current_City_Years        0
Marital_Status                    0
Product_Category_1                0
Product_Category_2            72344
dtype: int64

In [ ]:
df_temp[df_temp.Product_Category_2.isnull()].index

Int64Index([    11,     16,     20,     24,     34,     36,     45,     46,
                49,     50,
            ...
            233542, 233544, 233562, 233571, 233572, 233576, 233585, 233590,
            233593, 233594],
           dtype='int64', length=72344)

In [ ]:
df_temp=df_temp.drop(df_temp[df_temp.Product_Category_2.isnull()].index ,axis=0 ,inplace=False)

In [ ]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161255 entries, 0 to 233598
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     161255 non-null  int64
 1   Product_ID                  161255 non-null  object
 2   Gender                      161255 non-null  object
 3   Age                         161255 non-null  object
 4   Occupation                  161255 non-null  Float64
 5   City_Category               161255 non-null  object
 6   Stay_In_Current_City_Years  161255 non-null  object
 7   Marital_Status              161255 non-null  int64
 8   Product_Category_1          161255 non-null  int64
 9   Product_Category_2          161255 non-null  float64
dtypes: Float64(1), float64(1), int64(3), object(5)
memory usage: 13.7+ MB

In [ ]:
df=df.fillna(method = 'pad')

In [ ]:
df.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            4
dtype: int64

In [ ]:
df=df.fillna(method = 'backfill')

In [ ]:
df.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
dtype: int64

In [ ]:
df1 = df.copy()

In [ ]:
df1

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7.0,B,2,1,1,11.0,12.0
1,1000009,P00113442,M,26-35,17.0,C,0,0,3,5.0,12.0
2,1000010,P00288442,F,36-45,1.0,B,4+,1,5,14.0,12.0
3,1000010,P00145342,F,36-45,1.0,B,4+,1,4,9.0,12.0
4,1000011,P00053842,F,26-35,1.0,C,1,0,4,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,F,26-35,15.0,B,4+,1,8,8.0,15.0
233595,1006036,P00254642,F,26-35,15.0,B,4+,1,5,8.0,15.0
233596,1006036,P00031842,F,26-35,15.0,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1.0,C,4+,0,10,16.0,12.0
233598,1006039,P00316642,F,46-50,0.0,B,4+,1,4,5.0,12.0

In [ ]:
df1.loc[0,'Product_ID']

'P00128942'

In [ ]:
df1.loc[:,'Age'].head()

0    46-50
1    26-35
2    36-45
3    36-45
4    26-35
Name: Age, dtype: object

In [ ]:
df1.loc[2:5]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
2,1000010,P00288442,F,36-45,1.0,B,4+,1,5,14.0,12.0
3,1000010,P00145342,F,36-45,1.0,B,4+,1,4,9.0,12.0
4,1000011,P00053842,F,26-35,1.0,C,1,0,4,5.0,12.0
5,1000013,P00350442,M,46-50,1.0,C,3,1,2,3.0,15.0

In [ ]:
df1.iloc[-1]

User_ID                         1006039
Product_ID                    P00316642
Gender                                F
Age                               46-50
Occupation                          0.0
City_Category                         B
Stay_In_Current_City_Years           4+
Marital_Status                        1
Product_Category_1                    4
Product_Category_2                  5.0
Product_Category_3                 12.0
Name: 233598, dtype: object

In [ ]:
df1.iloc[0]

User_ID                         1000004
Product_ID                    P00128942
Gender                                M
Age                               46-50
Occupation                          7.0
City_Category                         B
Stay_In_Current_City_Years            2
Marital_Status                        1
Product_Category_1                    1
Product_Category_2                 11.0
Product_Category_3                 12.0
Name: 0, dtype: object

In [ ]:
df1.iloc[:,0:5]

        User_ID Product_ID Gender    Age  Occupation
0       1000004  P00128942      M  46-50         7.0
1       1000009  P00113442      M  26-35        17.0
2       1000010  P00288442      F  36-45         1.0
3       1000010  P00145342      F  36-45         1.0
4       1000011  P00053842      F  26-35         1.0
...         ...        ...    ...    ...         ...
233594  1006036  P00118942      F  26-35        15.0
233595  1006036  P00254642      F  26-35        15.0
233596  1006036  P00031842      F  26-35        15.0
233597  1006037  P00124742      F  46-50         1.0
233598  1006039  P00316642      F  46-50         0.0

[233599 rows x 5 columns]

In [ ]:
df1.loc[0:5]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7.0,B,2,1,1,11.0,12.0
1,1000009,P00113442,M,26-35,17.0,C,0,0,3,5.0,12.0
2,1000010,P00288442,F,36-45,1.0,B,4+,1,5,14.0,12.0
3,1000010,P00145342,F,36-45,1.0,B,4+,1,4,9.0,12.0
4,1000011,P00053842,F,26-35,1.0,C,1,0,4,5.0,12.0
5,1000013,P00350442,M,46-50,1.0,C,3,1,2,3.0,15.0

In [ ]:
df1.iloc[[0,4,9],[0,3,6]]

   User_ID    Age Stay_In_Current_City_Years
0  1000004  46-50                          2
4  1000011  26-35                          1
9  1000022  18-25                         4+

In [ ]:
df1['Occupation'].idxmax()

75

In [ ]:
df1.Occupation[df1['Occupation'].idxmax()]

20.0

In [ ]:
df1[df1["Occupation"]==20.0]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
75,1000139,P00150542,F,26-35,20.0,C,2,0,5,10.0,13.0
76,1000139,P00201442,F,26-35,20.0,C,2,0,1,6.0,8.0
77,1000146,P00124342,F,36-45,20.0,B,3,1,11,6.0,8.0
83,1000151,P00144242,F,26-35,20.0,A,1,1,5,14.0,17.0
84,1000151,P00015142,F,26-35,20.0,A,1,1,5,14.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...
233549,1005957,P00195942,M,18-25,20.0,B,1,1,3,4.0,8.0
233554,1005972,P00057942,F,26-35,20.0,B,0,0,1,2.0,6.0
233555,1005972,P00313542,F,26-35,20.0,B,0,0,5,8.0,6.0
233564,1005990,P00177442,F,26-35,20.0,B,1,1,1,6.0,8.0
233578,1006013,P00020342,F,26-35,20.0,C,3,0,1,2.0,17.0

In [ ]:
df1.loc[df1[df1["Occupation"]==20.0].index]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
75,1000139,P00150542,F,26-35,20.0,C,2,0,5,10.0,13.0
76,1000139,P00201442,F,26-35,20.0,C,2,0,1,6.0,8.0
77,1000146,P00124342,F,36-45,20.0,B,3,1,11,6.0,8.0
83,1000151,P00144242,F,26-35,20.0,A,1,1,5,14.0,17.0
84,1000151,P00015142,F,26-35,20.0,A,1,1,5,14.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...
233549,1005957,P00195942,M,18-25,20.0,B,1,1,3,4.0,8.0
233554,1005972,P00057942,F,26-35,20.0,B,0,0,1,2.0,6.0
233555,1005972,P00313542,F,26-35,20.0,B,0,0,5,8.0,6.0
233564,1005990,P00177442,F,26-35,20.0,B,1,1,1,6.0,8.0
233578,1006013,P00020342,F,26-35,20.0,C,3,0,1,2.0,17.0

In [ ]:
df1.at[2,'Age']

'36-45'

In [ ]:
df1.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7.0,B,2,1,1,11.0,12.0
1,1000009,P00113442,M,26-35,17.0,C,0,0,3,5.0,12.0
2,1000010,P00288442,F,36-45,1.0,B,4+,1,5,14.0,12.0
3,1000010,P00145342,F,36-45,1.0,B,4+,1,4,9.0,12.0
4,1000011,P00053842,F,26-35,1.0,C,1,0,4,5.0,12.0

In [ ]:
df1.iat[2,3]

'36-45'

In [ ]:
df1[~((df1['Gender'] == 'F') & (df1['City_Category'] =='B') & (df1['Stay_In_Current_City_Years'] == '3') & (df1['Product_Category_2'] < 10))]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7.0,B,2,1,1,11.0,12.0
1,1000009,P00113442,M,26-35,17.0,C,0,0,3,5.0,12.0
2,1000010,P00288442,F,36-45,1.0,B,4+,1,5,14.0,12.0
3,1000010,P00145342,F,36-45,1.0,B,4+,1,4,9.0,12.0
4,1000011,P00053842,F,26-35,1.0,C,1,0,4,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,F,26-35,15.0,B,4+,1,8,8.0,15.0
233595,1006036,P00254642,F,26-35,15.0,B,4+,1,5,8.0,15.0
233596,1006036,P00031842,F,26-35,15.0,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1.0,C,4+,0,10,16.0,12.0
233598,1006039,P00316642,F,46-50,0.0,B,4+,1,4,5.0,12.0

In [ ]:
values = [1006038,'F']

In [ ]:
df1_indexed=df1.isin(values)
df1_indexed

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
233594,False,False,True,False,False,False,False,False,False,False,False
233595,False,False,True,False,False,False,False,False,False,False,False
233596,False,False,True,False,False,False,False,False,False,False,False
233597,False,False,True,False,False,False,False,False,False,False,False
233598,False,False,True,False,False,False,False,False,False,False,False

In [ ]:
df1_indexed=df1.isin(values).all(axis=1)
df1[df1_indexed]

Empty DataFrame
Columns: [User_ID, Product_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Product_Category_1, Product_Category_2, Product_Category_3]
Index: []

In [ ]:
newdf=df1.mask(df1['Occupation'] != 10)
newdf.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#sorting
df1.sort_index()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7.0,B,2,1,1,11.0,12.0
1,1000009,P00113442,M,26-35,17.0,C,0,0,3,5.0,12.0
2,1000010,P00288442,F,36-45,1.0,B,4+,1,5,14.0,12.0
3,1000010,P00145342,F,36-45,1.0,B,4+,1,4,9.0,12.0
4,1000011,P00053842,F,26-35,1.0,C,1,0,4,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,F,26-35,15.0,B,4+,1,8,8.0,15.0
233595,1006036,P00254642,F,26-35,15.0,B,4+,1,5,8.0,15.0
233596,1006036,P00031842,F,26-35,15.0,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1.0,C,4+,0,10,16.0,12.0
233598,1006039,P00316642,F,46-50,0.0,B,4+,1,4,5.0,12.0

In [ ]:
df1.sort_index(axis=1)

,Age,City_Category,Gender,Marital_Status,Occupation,Product_Category_1,Product_Category_2,Product_Category_3,Product_ID,Stay_In_Current_City_Years,User_ID
0,46-50,B,M,1,7.0,1,11.0,12.0,P00128942,2,1000004
1,26-35,C,M,0,17.0,3,5.0,12.0,P00113442,0,1000009
2,36-45,B,F,1,1.0,5,14.0,12.0,P00288442,4+,1000010
3,36-45,B,F,1,1.0,4,9.0,12.0,P00145342,4+,1000010
4,26-35,C,F,0,1.0,4,5.0,12.0,P00053842,1,1000011
...,...,...,...,...,...,...,...,...,...,...,...
233594,26-35,B,F,1,15.0,8,8.0,15.0,P00118942,4+,1006036
233595,26-35,B,F,1,15.0,5,8.0,15.0,P00254642,4+,1006036
233596,26-35,B,F,1,15.0,1,5.0,12.0,P00031842,4+,1006036
233597,46-50,C,F,0,1.0,10,16.0,12.0,P00124742,4+,1006037
233598,46-50,B,F,1,0.0,4,5.0,12.0,P00316642,4+,1006039

In [ ]:
df1.sort_index(ascending=False)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
233598,1006039,P00316642,F,46-50,0.0,B,4+,1,4,5.0,12.0
233597,1006037,P00124742,F,46-50,1.0,C,4+,0,10,16.0,12.0
233596,1006036,P00031842,F,26-35,15.0,B,4+,1,1,5.0,12.0
233595,1006036,P00254642,F,26-35,15.0,B,4+,1,5,8.0,15.0
233594,1006036,P00118942,F,26-35,15.0,B,4+,1,8,8.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...
4,1000011,P00053842,F,26-35,1.0,C,1,0,4,5.0,12.0
3,1000010,P00145342,F,36-45,1.0,B,4+,1,4,9.0,12.0
2,1000010,P00288442,F,36-45,1.0,B,4+,1,5,14.0,12.0
1,1000009,P00113442,M,26-35,17.0,C,0,0,3,5.0,12.0
0,1000004,P00128942,M,46-50,7.0,B,2,1,1,11.0,12.0

In [ ]:
df1.sort_values(by=['Age','Occupation']).head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
930,1001509,P00283942,M,0-17,0.0,B,3,0,5,16.0,8.0
1215,1001919,P00124542,M,0-17,0.0,C,1,0,11,6.0,8.0
1218,1001926,P00085642,F,0-17,0.0,B,1,0,5,14.0,14.0
1219,1001926,P00252642,F,0-17,0.0,B,1,0,8,14.0,14.0
1220,1001926,P00119542,F,0-17,0.0,B,1,0,8,14.0,14.0
2335,1003780,P00299142,M,0-17,0.0,C,0,0,5,14.0,9.0
2958,1004707,P00174442,M,0-17,0.0,C,4+,0,5,15.0,16.0
3169,1005074,P00144642,M,0-17,0.0,B,2,0,1,15.0,16.0
3292,1005296,P00052642,F,0-17,0.0,C,2,0,5,14.0,12.0
3351,1005390,P00336942,M,0-17,0.0,C,1,0,5,14.0,14.0

In [ ]:

df1['Gender'].value_counts(ascending=True)

F     57827
M    175772
Name: Gender, dtype: int64

In [ ]:
df1['Age'].value_counts(ascending=True)

0-17      6232
55+       9075
51-55    16283
46-50    19577
18-25    42293
36-45    46711
26-35    93428
Name: Age, dtype: int64

In [ ]:
df1['Gender']=df1['Gender'].replace('F','Female')
df1['Gender']=df1['Gender'].replace('M','Male')
df1.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,Male,46-50,7.0,B,2,1,1,11.0,12.0
1,1000009,P00113442,Male,26-35,17.0,C,0,0,3,5.0,12.0
2,1000010,P00288442,Female,36-45,1.0,B,4+,1,5,14.0,12.0
3,1000010,P00145342,Female,36-45,1.0,B,4+,1,4,9.0,12.0
4,1000011,P00053842,Female,26-35,1.0,C,1,0,4,5.0,12.0
5,1000013,P00350442,Male,46-50,1.0,C,3,1,2,3.0,15.0
6,1000013,P00155442,Male,46-50,1.0,C,3,1,1,11.0,15.0
7,1000013,P0094542,Male,46-50,1.0,C,3,1,2,4.0,9.0
8,1000015,P00161842,Male,26-35,7.0,A,1,0,10,13.0,16.0
9,1000022,P00067942,Male,18-25,15.0,A,4+,0,5,14.0,16.0

In [ ]:
df1[['User_ID','Age']].values.tolist()

In [ ]:
df1[['User_ID','Age']].value_counts()

User_ID  Age
1001680  26-35    442
1004277  36-45    405
1001941  36-45    388
1000889  46-50    381
1001181  36-45    368
                 ...
1001189  26-35      1
1001226  18-25      1
1004943  51-55      1
1000665  18-25      1
1000004  46-50      1
Length: 5891, dtype: int64

In [ ]:
df1['Product_Category_2'].describe()

count    233599.000000
mean          9.868283
std           5.075440
min           2.000000
25%           5.000000
50%           9.000000
75%          15.000000
max          18.000000
Name: Product_Category_2, dtype: float64

In [ ]:
df1['Category']=df1.Product_Category_2.apply(lambda x : 'High Focused' if x > 10 else 'General')

In [ ]:
df1.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Category
0,1000004,P00128942,Male,46-50,7.0,B,2,1,1,11.0,12.0,High Focused
1,1000009,P00113442,Male,26-35,17.0,C,0,0,3,5.0,12.0,General
2,1000010,P00288442,Female,36-45,1.0,B,4+,1,5,14.0,12.0,High Focused
3,1000010,P00145342,Female,36-45,1.0,B,4+,1,4,9.0,12.0,General
4,1000011,P00053842,Female,26-35,1.0,C,1,0,4,5.0,12.0,General
5,1000013,P00350442,Male,46-50,1.0,C,3,1,2,3.0,15.0,General
6,1000013,P00155442,Male,46-50,1.0,C,3,1,1,11.0,15.0,High Focused
7,1000013,P0094542,Male,46-50,1.0,C,3,1,2,4.0,9.0,General
8,1000015,P00161842,Male,26-35,7.0,A,1,0,10,13.0,16.0,High Focused
9,1000022,P00067942,Male,18-25,15.0,A,4+,0,5,14.0,16.0,High Focused

In [ ]:
df1.groupby('Gender')

In [ ]:
df1.groupby('Gender').groups

{'Female': [2, 3, 4, 14, 18, 23, 24, 25, 33, 34, 39, 41, 43, 44, 47, 48, 50, 51, 52, 75, 76, 77, 83, 84, 108, 109, 110, 111, 113, 114, 115, 119, 147, 149, 155, 156, 157, 160, 163, 170, 184, 185, 186, 187, 188, 189, 190, 191, 207, 209, 211, 212, 223, 224, 225, 235, 245, 246, 247, 249, 250, 281, 286, 294, 295, 296, 297, 298, 299, 310, 312, 320, 321, 322, 323, 330, 334, 335, 336, 337, 339, 340, 341, 351, 353, 358, 364, 365, 371, 372, 380, 381, 382, 383, 384, 385, 386, 387, 388, 410, ...], 'Male': [0, 1, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 38, 40, 42, 45, 46, 49, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 78, 79, 80, 81, 82, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 112, 116, 117, 118, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, ...]}

In [ ]:
df1.groupby('Gender').sum()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
Gender,,,,,,
Female,58008700738,392173.0,24179,323144,579202.0,729822.0
Male,176297953995,1496570.0,71613,909451,1726019.0,2229265.0

In [ ]:
df1.groupby('Gender').agg(np.sum)

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
Gender,,,,,,
Female,58008700738,392173.0,24179,323144,579202.0,729822.0
Male,176297953995,1496570.0,71613,909451,1726019.0,2229265.0

In [ ]:
df1.groupby('Gender')['Product_Category_2'].agg([np.sum,np.mean])

              sum       mean
Gender
Female   579202.0  10.016117
Male    1726019.0   9.819647

In [ ]:
df1[df1.groupby('Gender')['Product_Category_2'].apply(lambda x : x > 10)]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Category
0,1000004,P00128942,Male,46-50,7.0,B,2,1,1,11.0,12.0,High Focused
2,1000010,P00288442,Female,36-45,1.0,B,4+,1,5,14.0,12.0,High Focused
6,1000013,P00155442,Male,46-50,1.0,C,3,1,1,11.0,15.0,High Focused
8,1000015,P00161842,Male,26-35,7.0,A,1,0,10,13.0,16.0,High Focused
9,1000022,P00067942,Male,18-25,15.0,A,4+,0,5,14.0,16.0,High Focused
...,...,...,...,...,...,...,...,...,...,...,...,...
233585,1006025,P00161142,Female,26-35,1.0,B,1,0,11,11.0,16.0,High Focused
233587,1006028,P00162442,Male,18-25,4.0,A,4+,0,1,16.0,8.0,High Focused
233589,1006030,P00241442,Male,26-35,17.0,C,1,1,2,15.0,15.0,High Focused
233590,1006032,P00252442,Male,46-50,7.0,A,3,0,8,15.0,15.0,High Focused
233597,1006037,P00124742,Female,46-50,1.0,C,4+,0,10,16.0,12.0,High Focused

In [ ]:
df1.City_Category.value_counts()

B    98566
C    72509
A    62524
Name: City_Category, dtype: int64

In [ ]:
dummy_df=pd.get_dummies(df1.City_Category,drop_first=True)

In [ ]:
df1.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Category
0,1000004,P00128942,Male,46-50,7.0,B,2,1,1,11.0,12.0,High Focused
1,1000009,P00113442,Male,26-35,17.0,C,0,0,3,5.0,12.0,General
2,1000010,P00288442,Female,36-45,1.0,B,4+,1,5,14.0,12.0,High Focused
3,1000010,P00145342,Female,36-45,1.0,B,4+,1,4,9.0,12.0,General
4,1000011,P00053842,Female,26-35,1.0,C,1,0,4,5.0,12.0,General
5,1000013,P00350442,Male,46-50,1.0,C,3,1,2,3.0,15.0,General
6,1000013,P00155442,Male,46-50,1.0,C,3,1,1,11.0,15.0,High Focused
7,1000013,P0094542,Male,46-50,1.0,C,3,1,2,4.0,9.0,General
8,1000015,P00161842,Male,26-35,7.0,A,1,0,10,13.0,16.0,High Focused
9,1000022,P00067942,Male,18-25,15.0,A,4+,0,5,14.0,16.0,High Focused

In [ ]:
dummy_df.head()

   B  C
0  1  0
1  0  1
2  1  0
3  1  0
4  0  1

In [ ]:
df1=pd.concat([df1,dummy_df],axis=1)

In [ ]:
df1

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Category,B,C
0,1000004,P00128942,Male,46-50,7.0,B,2,1,1,11.0,12.0,High Focused,1,0
1,1000009,P00113442,Male,26-35,17.0,C,0,0,3,5.0,12.0,General,0,1
2,1000010,P00288442,Female,36-45,1.0,B,4+,1,5,14.0,12.0,High Focused,1,0
3,1000010,P00145342,Female,36-45,1.0,B,4+,1,4,9.0,12.0,General,1,0
4,1000011,P00053842,Female,26-35,1.0,C,1,0,4,5.0,12.0,General,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,Female,26-35,15.0,B,4+,1,8,8.0,15.0,General,1,0
233595,1006036,P00254642,Female,26-35,15.0,B,4+,1,5,8.0,15.0,General,1,0
233596,1006036,P00031842,Female,26-35,15.0,B,4+,1,1,5.0,12.0,General,1,0
233597,1006037,P00124742,Female,46-50,1.0,C,4+,0,10,16.0,12.0,High Focused,0,1
233598,1006039,P00316642,Female,46-50,0.0,B,4+,1,4,5.0,12.0,General,1,0